

.allDoctorsPage{
  max-width: 1200px;
  width: 100%;
  margin: auto;
  margin-bottom: 206px;
}

.allDoctorsPage .main-heading h2 {
  font-size: 20px;
  line-height: 27px;
  color: #4B5563;
  margin-top: 60px;
  font-weight: 400;
}

.allDoctorsPage .doctorsPage-inner{
  display: flex;
  gap: 36px;
}

.allDoctorsPage .doctors-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 12px;
  margin-top: 35px;
  row-gap: 40px;
}


.doctors-container .each-doctor-inner{
  border: solid 1px #C9D8FF;
  border-radius: 12px;
  cursor: pointer;
}

.doctors-container .each-doctor-inner .doctor-img img {
  background-color: #EAEFFF;
  border-radius: 12px 12px 0 0;
  width: 215px;
  margin-bottom: 15px;
}

.doctors-container .each-doctor-inner .image-texts {
  display: flex;
  align-items: center;
  gap: 7px;
  margin-bottom: 10px;
}

.doctors-container .each-doctor-inner span {
  border: solid 1px #0FBF00;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: #0FBF00;
  margin-left: 14px;
}

.doctors-container .each-doctor-inner .title-speciality{
  margin-left: 14px;
}

.doctors-container .each-doctor-inner .title-speciality h2 {
  line-height: 27px;
  font-size: 22px;
  color: #1F2937;
}

.doctors-container .each-doctor-inner .title-speciality p {
  color: #4B5563;
  line-height: 18px;
  font-size: 15px;
  padding-bottom: 21px;
  margin-top: 7px;
}

.allDoctorsPage .doctorsPage-inner .options-list{
margin-bottom: 35px;
margin-top: 35px;
display: flex;
flex-direction: column;
gap: 15px;
}

.doctorsPage-inner .options-list .optionOne h2{
font-size: 16px;
color: #4B5563;
padding: 15px 0 15px 18px;
font-weight: 400;
line-height: 20px;
}

.doctorsPage-inner .options-list .optionOne{
border: solid 1px #B4B4B4;
width: 260px;
border-radius: 8px;
cursor: pointer;
}


@media only screen and (max-width:1215px){
  .allDoctorsPage{
    padding-left: 20px;
    padding-right: 20px;
  }
  .allDoctorsPage .doctors-container{
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media only screen and (max-width: 1010px){
.allDoctorsPage .doctors-container {
    grid-template-columns: 1fr 1fr;
  }

.doctors-container .each-doctor-inner .doctor-img img {
  max-width: 320px;
  width: 100%;
}
}

@media only screen and (max-width: 800px){
.allDoctorsPage .doctors-container {
    grid-template-columns: 1fr;
  }

.doctors-container .each-doctor-inner .doctor-img img {
  width: 100%;
}
}

@media only screen and (max-width: 630px){
  .allDoctorsPage .doctorsPage-inner{
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.allDoctorsPage .options-list .optionOne{
 width: 400px;
}

.allDoctorsPage .main-heading{
  text-align: center;
}

.doctors-container .each-doctor-inner .doctor-img img{
max-width: 400px;
width: 100%;
height: auto;
}
}


@media only screen and (max-width: 450px){
.allDoctorsPage .options-list .optionOne {
max-width: 300px;
}
}
