.allDoctorsPage {
  max-width: 1200px;
  width: 100%;
  margin: auto;
  margin-bottom: 130px;
}

.allDoctorsPage .main-heading h2 {
  font-size: 20px;
  line-height: 27px;
  color: #4B5563;
  margin-top: 60px;
  font-weight: 400;
}

.allDoctorsPage .doctorsPage-inner {
  display: flex;
  gap: 36px;
}

.allDoctorsPage .doctors-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 12px;
  margin-top: 35px;
  row-gap: 40px;
}


.doctors-container .each-doctor-inner {
  border: solid 1px #C9D8FF;
  border-radius: 12px;
  cursor: pointer;
}

.doctors-container .each-doctor-inner .doctor-img img {
  background-color: #EAEFFF;
  border-radius: 12px 12px 0 0;
  width: 215px;
  margin-bottom: 15px;
}

.doctors-container .each-doctor-inner .image-texts {
  display: flex;
  align-items: center;
  gap: 7px;
  margin-bottom: 10px;
}

.doctors-container .each-doctor-inner span {
  border: solid 1px #0FBF00;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: #0FBF00;
  margin-left: 14px;
}

.doctors-container .each-doctor-inner .title-speciality {
  margin-left: 14px;
}

.doctors-container .each-doctor-inner .title-speciality h2 {
  line-height: 27px;
  font-size: 22px;
  color: #1F2937;
}

.doctors-container .each-doctor-inner .title-speciality p {
  color: #4B5563;
  line-height: 18px;
  font-size: 15px;
  padding-bottom: 21px;
  margin-top: 7px;
}

.allDoctorsPage .doctorsPage-inner .options-list {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.doctorsPage-inner .options-list .first-options a h2{
  font-size: 16px;
  color: #4B5563;
  padding: 15px 0 15px 18px;
  font-weight: 400;
  line-height: 20px;
}

.doctorsPage-inner .options-list .first-options a{
    text-decoration: none;
}

.doctorsPage-inner .options-list .second-options a h2{
  font-size: 16px;
  color: #4B5563;
  padding: 15px 0 15px 18px;
  font-weight: 400;
  line-height: 20px;
}

.doctorsPage-inner .options-list .second-options a{
    text-decoration: none;
}

.doctorsPage-inner .options-list .optionOne {
  border: solid 1px #B4B4B4;
  width: 260px;
  border-radius: 8px;
  cursor: pointer;
}

.doctorsPage-inner .filter-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.doctorsPage-inner .filter-options button {
  padding: 5px 15px;
  margin-top: 15px;
  font-size: 16px;
  background-color: #5F6FFF;
  color: #fff;
  border: solid 2px #5F6FFF;
  border-radius: 6px;
  cursor: pointer;
  transition: .3s ease;
  display: none;
}

.doctorsPage-inner .filter-options button:hover {
  background-color: #1e34fa;
  border: solid 2px #1e34fa;
}


@media only screen and (max-width:1215px) {
  .allDoctorsPage {
    padding-left: 20px;
    padding-right: 20px;
  }

  .allDoctorsPage .doctors-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media only screen and (max-width: 1010px) {
  .allDoctorsPage .doctors-container {
    grid-template-columns: 1fr 1fr;
  }

  .doctors-container .each-doctor-inner .doctor-img img {
    max-width: 320px;
    width: 100%;
  }
}

@media only screen and (max-width: 800px) {
  .allDoctorsPage .doctors-container {
    grid-template-columns: 1fr;
  }

  .doctors-container .each-doctor-inner .doctor-img img {
    width: 100%;
  }
}

@media only screen and (min-width: 630px){
  .allDoctorsPage .navigation-options{
    display: none;
  }

  .allDoctorsPage .second-options{
    display: none;
  }
}

@media only screen and (max-width: 630px) {
  .allDoctorsPage .doctorsPage-inner {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .allDoctorsPage .first-options{
      display: none;
    }

  .allDoctorsPage .options-list .optionOne {
    width: 400px;
  }

  .allDoctorsPage .main-heading {
    text-align: center;
  }

  .doctors-container .each-doctor-inner .doctor-img img {
    max-width: 400px;
    width: 100%;
    height: auto;
  }

  .doctorsPage-inner .filter-options button {
    display: block;
  }


  .doctorsPage-inner .filter-options {
    position: relative;
  }

  .allDoctorsPage .doctorsPage-inner .options-list {
    margin-top: 0;
  }

    .doctorsPage-inner .navigation-list{
    display: none;
  }

}


@media only screen and (max-width: 450px) {
   .allDoctorsPage .first-options{
    display: none;
   }

  .allDoctorsPage .options-list .optionOne {
    max-width: 300px;
  }

  .allDoctorsPage .options {
    width: 100%;
  }

  .doctorsPage-inner .filter-options {
    position: relative;
    right: 0;
    top: 10px;
  }

  .allDoctorsPage .doctorsPage-inner .options-list {
    margin-bottom: 0;
  }

  .allDoctorsPage .doctorsPage-inner {
    gap: 0;
  }
}
