.profilePage{
  max-width: 1200px;
  width: 100%;
margin: auto;
margin-top: 50px;
margin-bottom: 130px;
}

.profilePage .profile-Page-inner .main-profile-img img{
  width: 160px;
}

.profile-Page-inner .user-name h1{
  font-size: 32px;
  font-weight: 500;
  padding-top: 33px;
  padding-bottom: 8px;
}

.profile-Page-inner hr{
  max-width: 500px;
  width: 100%;
}

.profile-Page-inner .user-contact-text{
  margin-top: 24px;
  margin-bottom: 21px;
}

.profile-Page-inner .user-contact-text a{
  font-size: 16px;
  color: #797979;
}

.profile-Page-inner .user-info-list .user-email p{
  font-size: 18px;
}

.profile-Page-inner .user-info-list .user-email a{
  color: #3C96FF;
  text-decoration: none;
  font-size: 18px;
}

.profile-Page-inner .user-info-list .user-email{
  display: flex;
  gap: 55px;
}

.profile-Page-inner .user-info-list .user-phone p{
  font-size: 18px;
}

.profile-Page-inner .user-info-list .user-phone a{
  color: #3C96FF;
  text-decoration: none;
  font-size: 18px;
}

.profile-Page-inner .user-info-list .user-phone{
  display: flex;
  gap: 65px;
  margin-top: 23px;
  margin-bottom: 11px;
}
.profile-Page-inner .user-info-list .user-address p{
  font-size: 18px;
}

.profile-Page-inner .user-info-list .user-address{
  display: flex;
  gap: 60px;
  margin-top: 23px;
  margin-bottom: 11px;
  max-width: 400px;
  width: 100%;
}

.profile-Page-inner .basic-info{
  margin-top: 36px;
}

.profile-Page-inner .basic-info a{
  color: #797979;
  font-size: 16px;
  margin-bottom: 21px;
}

.profile-Page-inner .basic-info-list{
  display: flex;
  gap: 60px;
  margin-top: 20px;
}

.profile-Page-inner .birthday{
  display: flex;
  gap: 53px;
  margin-top: 14px;
}

.profilePage .save-btn{
  margin-top: 60px;
  margin-bottom: 30px;
}

.profilePage .save-btn button{
  max-width: 207px;
  width: 100%;
  padding-top: 16px;
  padding-bottom: 16px;
  border-radius: 47px;
  font-size: 16px;
  background-color: #fff;
  border: solid 1px #5F6FFF;
  color: #4B5563;
  cursor: pointer;
  transition: .3s ease;
}

.profilePage .save-btn button:hover {
  background-color: #fff;
  border-color: #5F6FFF;
  color: #4B5563;
  box-shadow: 0 0 15px #5F6FFF, 0 0 10px #A7B8FF;
  outline: 3px solid #A7B8FF;
}

.error p {
  font-size: 17px;
}

.success p {
  font-size: 17px;
}

.success-notification {
  position: fixed;
  top: 60px;
  right: 30px;
  display: flex;
  align-items: start;
  flex-direction: column;
  overflow: hidden;
  padding-top: 20px;
  padding-bottom: 25px;
  padding-left: 20px;
  padding-right: 5px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 4px 12px #0000001a;
  font-weight: 500;
  margin: 15px 0;
  transform: translateX(100%);
  animation: popInAndStay 1s ease-out forwards, disappear 1s ease-out 4s forwards;
}

.success-notification::after {
  content: '';
  width: 100%;
  height: 4px;
  background-color: green;
  animation: widthShrink 4s linear forwards;
  position: absolute;
  bottom: 0;
  left: 0;
}


@keyframes popInAndStay {
  0% {
    transform: translateX(100%);
    width: 0;
  }

  10% {
    transform: translateX(0);
    width: 300px;
  }

  80% {
    transform: translateX(0);
    width: 300px;
  }

  100% {
    transform: translateX(0);
    width: 300px;
  }
}

@keyframes disappear {
  0% {
    transform: translateX(0);
    width: 300px;
  }

  100% {
    transform: translateX(100%);
    width: 0;
    right: 100%;
  }
}


@keyframes widthShrink {
  0% {
    width: 100%;
  }

  100% {
    width: 0%;
  }
}


@keyframes popInAndStay {
  0% {
    transform: translateX(100%);
    width: 0;
  }

  10% {
    transform: translateX(0);
    width: 300px;
  }

  80% {
    transform: translateX(0);
    width: 300px;
  }

  100% {
    transform: translateX(0);
    width: 300px;
  }
}

@keyframes disappear {
  0% {
    transform: translateX(0);
    width: 300px;
  }

  100% {
    transform: translateX(100%);
    width: 0;
    right: -100%;
  }
}

@keyframes widthShrink {
  0% {
    width: 100%;
  }

  100% {
    width: 0%;
  }
}

@media only screen and (max-width: 1180px){
  .profilePage{
    padding-left: 20px;
  }
}
