.generalPhysicianDoc {
  max-width: 1200px;
  width: 100%;
  margin: auto;
  margin-bottom: 206px;
}

.generalPhysicianDoc .main-heading h2 {
  font-size: 20px;
  line-height: 27px;
  color: #4B5563;
  margin-top: 60px;
  font-weight: 400;
}

.generalPhysicianDoc .doctorsPage-inner {
  display: flex;
  gap: 36px;
}

.generalPhysicianDoc .doctors-container .available-doctor-one {
  border: solid 1px #C9D8FF;
  border-radius: 12px;
  cursor: pointer;
}

.generalPhysicianDoc .doctors-container {
  margin-top: 35px;
  display: grid;
  column-gap: 12px;
  grid-template-columns: 1fr 1fr;
}

.generalPhysicianDoc .doctors-container a {
  text-decoration: none;
}

.doctors-container .available-doctor-one img {
  background-color: #EAEFFF;
  border-radius: 12px 12px 0 0;
  width: 215px;
  margin-bottom: 15px;
}

.doctors-container .available-doctor-one .image-texts {
  display: flex;
  align-items: center;
  gap: 7px;
  margin-bottom: 10px;
}

.doctors-container .available-doctor-one .image-texts p {
  color: #0FBF00;
}

.doctors-container .available-doctor-one span {
  border: solid 1px #0FBF00;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: #0FBF00;
  margin-left: 14px;
}

.generalPhysicianDoc .available-doctor-one .doctor-name h4 {
  line-height: 27px;
  font-size: 22px;
  color: #1F2937;
  margin-left: 14px;
}

.generalPhysicianDoc .available-doctor-one .doc-speciality p {
  color: #4B5563;
  line-height: 18px;
  font-size: 15px;
  padding-bottom: 21px;
  margin-top: 7px;
  margin-left: 14px;
}

.generalPhysicianDoc .doctorsPage-inner .options-list {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.doctorsPage-inner .options-list .optionOne a h2 {
  font-size: 16px;
  color: #4B5563;
  padding: 15px 0 15px 18px;
  font-weight: 400;
  line-height: 20px;
}

.doctorsPage-inner .options-list .optionOne {
  border: solid 1px #B4B4B4;
  width: 260px;
  border-radius: 8px;
  cursor: pointer;
}

.doctorsPage-inner .filter-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.doctorsPage-inner .filter-list .active {
  background-color: #E2E5FF;
  border: solid 1px #E2E5FF;
}

.doctorsPage-inner .filter-options button {
  padding: 5px 15px;
  margin-top: 15px;
  font-size: 16px;
  background-color: #5F6FFF;
  color: #fff;
  border: solid 2px #5F6FFF;
  border-radius: 6px;
  cursor: pointer;
  transition: .3s ease;
  display: none;
}

.doctorsPage-inner .filter-options button:hover {
  background-color: #1e34fa;
  border: solid 2px #1e34fa;
}

@media only screen and (max-width:1215px) {
  .generalPhysicianDoc {
    padding-left: 20px;
    padding-right: 20px;
  }

  .generalPhysicianDoc .doctors-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 800px) {
  .generalPhysicianDoc .doctors-container {
    grid-template-columns: 1fr;
    row-gap: 40px;
  }

  .doctors-container .available-doctor-one .doc-img img {
    width: 100%;
  }
}

@media only screen and (min-width: 630px) {
  .generalPhysicianDoc .navigation-options {
    display: none;
  }
}

@media only screen and (max-width: 630px) {
  .generalPhysicianDoc .doctorsPage-inner {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .allDoctorsPage .options-list .optionOne {
    width: 400px;
  }

  .generalPhysicianDoc .main-heading {
    text-align: center;
  }

  .generalPhysicianDoc .each-doctor-inner .doc-img img {
    max-width: 400px;
    width: 100%;
    height: auto;
  }

  .doctorsPage-inner .filter-options button {
    display: block;
  }

  .generalPhysicianDoc .first-options{
    display: none;
  }


  .doctorsPage-inner .filter-options {
    position: relative;
  }

  .generalPhysicianDoc .doctorsPage-inner .options-list {
    margin-top: 0;
  }

  .generalPhysicianDoc .navigation-list {
    display: none;
  }

}

@media only screen and (max-width: 450px) {
  .allDoctorsPage .options-list .optionOne {
    max-width: 400px;
  }

  .generalPhysicianDoc .options {
    width: 100%;
  }

  .doctorsPage-inner .filter-options {
    position: relative;
    right: 0;
    top: 10px;
  }

  .generalPhysicianDoc .doctorsPage-inner .options-list {
    margin-bottom: 0;
  }

  .generalPhysicianDoc .doctorsPage-inner {
    gap: 0;
  }
}
