
.contactPage {
  max-width: 1200px;
  width: 100%;
  margin: auto;
  margin-bottom: 130px;
}

.contactPage .main-heading {
  margin-top: 44px;
  margin-bottom: 48px;
  display: flex;
  justify-content: center;
}

.contactPage.main-heading h1 {
  font-size: 30px;
  line-height: 37px;
  font-weight: 600;
}

.contactPage .main-heading span {
  color: #4B5563;
  font-weight: 400;
  font-size: 30px;
}

.contactPage .main-img img{
  max-width: 560px;
  width: 100%;
  margin-left: 50px;
}

.contactPage .center-info{
  display: flex;
  gap: 48px;
}

.contactPage .main-texts h3{
color: #4B5563;
font-size: 24px;
}

.contactPage .main-texts p{
color: #4B5563;
font-size: 18px;
line-height: 32px;
}

.center-info .main-texts{
  display: flex;
  flex-direction: column;
  gap: 21px;
  justify-content: center;
}

.center-info .main-texts .texts-one{
  display: flex;
  flex-direction: column;
  gap: 21px;
}

.center-info .main-texts .texts-three{
  display: flex;
  flex-direction: column;
  gap: 21px;
}

.contactPage button{
  margin-top: 30px;
  width: 170px;
  height: 62px;
  cursor: pointer;
  color: #1F2937;
  background-color: #fff;
  font-size: 16px;
  transition: 0.4s ease;
}

.contactPage button:hover{
  background-color: #5F6FFF;
  border: solid 1px #5F6FFF;
  color: #fff;
}


.successful-notification::after {
  content: '';
  width: 100%;
  height: 4px;
  background-color: orange;
  animation: widthShrink 4s linear forwards;
  position: absolute;
  bottom: 0;
  left: 0;
}

.error p {
  font-size: 17px;
}

.success p {
  font-size: 17px;
}

.successful-notification {
  position: fixed;
  top: 60px;
  right: 30px;
  display: flex;
  align-items: start;
  flex-direction: column;
  overflow: hidden;
  padding-top: 20px;
  padding-bottom: 25px;
  padding-left: 20px;
  padding-right: 5px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 4px 12px #0000001a;
  font-weight: 500;
  margin: 15px 0;
  transform: translateX(100%);
  animation: popInAndStay 1s ease-out forwards, disappear 1s ease-out 4s forwards;
}

.successful-notification::after {
  content: '';
  width: 100%;
  height: 4px;
  background-color: orange;
  animation: widthShrink 4s linear forwards;
  position: absolute;
  bottom: 0;
  left: 0;
}


@keyframes popInAndStay {
  0% {
    transform: translateX(100%);
    width: 0;
  }

  10% {
    transform: translateX(0);
    width: 300px;
  }

  80% {
    transform: translateX(0);
    width: 300px;
  }

  100% {
    transform: translateX(0);
    width: 300px;
  }
}

@keyframes disappear {
  0% {
    transform: translateX(0);
    width: 300px;
  }

  100% {
    transform: translateX(100%);
    width: 0;
    right: 100%;
  }
}


@keyframes widthShrink {
  0% {
    width: 100%;
  }

  100% {
    width: 0%;
  }
}


@media only screen and (max-width:950px){
  .contactPage .main-img img{
    padding-right: 50px;
  }
}


@media only screen and (max-width: 630px){
  .contactPage .center-info{
flex-direction: column;
align-items: center;
  }

  .contactPage .main-img img{
    margin: auto;
    justify-content: center;
    padding-right: 10px;
    padding-left: 10px;
  }

  .contactPage .main-texts{
    text-align: center;
  }

  .contactPage .main-texts .final-btn{
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
